<% resource.organization ||= Organization.new %>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-signin">
    <h2 class="form-signin-heading">Sign up</h2>
    <%= f.fields_for :organization do |organization_form| %>
      <%= organization_form.input :name, :label => 'Organization', :required => true, :autofocus => true, :input_html => { :class => 'input-block-level' }, :placeholder => 'Company Name', :label => false %>
      <%= organization_form.hidden_field :register_date, :value => Date.today %>
      <%= organization_form.hidden_field :expiry_date, :value => Date.today + 46.days %>
    <% end %>
    <%= f.input :username, :required => true, :input_html => { :class => 'input-block-level' }, :placeholder => 'Username', :label => false %>
    <%= f.input :email, :required => true, :input_html => { :class => 'input-block-level' }, :placeholder => 'Email Address', :label => false %>
    <%= f.input :password, :required => true, :input_html => { :class => 'input-block-level' }, :placeholder => 'Password', :label => false %>
    <%= f.input :password_confirmation, :required => true, :input_html => { :class => 'input-block-level' }, :placeholder => 'Confirm Password', :label => false %>
    <%= f.hidden_field :admin, :value => 1 %>

    <br>

    <%= f.button :submit, "Sign up", :class => "btn btn-large btn-block btn-primary" %>

    <br>

    <%= render "devise/shared/links" %>
  </div>
<% end %>


