<h1>Create new account for User</h1>
<%= simple_form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="row">
    <div class="span6">
      <div class="widget">
        <div class="widget-header">
          <i class="icon-user"></i>
          <h3>User Details</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
          <div class="inputs">
            <%= f.input :username, :placeholder => 'Username', :required => true, :autofocus => true %>
            <%= f.input :first_name, :placeholder => 'First name', :required => true %>
            <%= f.input :last_name, :placeholder => 'Last name', :required => true %>
            <%= f.input :email, :placeholder => 'Email', :required => true %>
            <%= f.input :password, :placeholder => 'Password', :required => true %>
            <%= f.input :password_confirmation, :placeholder => 'Please confirm your password', :required => true %>
            <%= f.input :type, :as => :radio_buttons, :collection => [ "Physician" ], :required => true %>
            <%= f.input :admin %>
            <%= f.hidden_field :organization_id, :value => current_user.organization_id %>
          </div>
        </div> <!-- /widget-content -->
      </div> <!-- /widget -->
    </div> <!-- /span6 -->
  </div> <!-- /row -->

  <div class="row">
    <div class="span12">
      <div class="form-actions">
        <%= f.button :submit, :class => 'btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    users_path, :class => 'btn' %>
      </div>
    </div> <!-- /span12 -->
  </div> <!-- /row-->
<% end %>
