<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-signin">
    <h2 class="form-signin-heading">Forgot password?</h2>
    <%= f.input :email, :required => true, :input_html => { :class => 'input-block-level' }, :placeholder => 'Email Address', :label => false %>

    <%= f.button :submit, "Reset my password", :class => "btn btn-large btn-block btn-primary" %>

    <br>

    <%= render "devise/shared/links" %>
  </div>
<% end %>
