<div class="row">
  <div class="span8">
    <div class="widget ">
      <div class="widget-header">
        <i class="icon-user"></i>
        <h3>Patient Record for: <%= @patient.first_name%></h3>
      </div> <!-- /widget-header -->
        
      <div class="widget-content">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#profile" data-toggle="tab">Patient</a>
            </li>
            <li>
              <a href="#diagnosis" data-toggle="tab">Diagnosis</a>
            </li>
            <li>
              <a href="#appointment_history" data-toggle="tab">Appointment History</a>
            </li>
          </ul>
          
          <br>
          
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <h3>Patient Details</h3>
              <dl class="dl-horizontal">
                <dt>First Name :</dt>
                  <dd><%= @patient.first_name %></dd>
                <dt>Last Name :</dt>
                  <dd><%= @patient.last_name %></dd>
                <dt>Sex :</dt>
                  <dd><%= @patient.sex %></dd>
                <dt>Marital Status :</dt>
                  <dd><%= @patient.marital_status %></dd>
                <dt>D.O.B :</dt>
                  <dd><%= @patient.dob %></dd>
                <dt>IC number :</dt>
                  <dd><%= @patient.ic_no %></dd>
              </dl>

              <h3>Medical Details</h3>
              <dl class="dl-horizontal">
                <dt>Blood Type :</dt>
                  <dd><%= @patient.blood_type %></dd>
              </dl>

              <h3>Address</h3>
              <dl class="dl-horizontal">
                <dt>Address1 :</dt>
                  <dd><%= @patient.address1 %></dd>
                <dt>Address2 :</dt>
                  <dd><%= @patient.address2 %></dd>
                <dt>Postcode :</dt>
                  <dd><%= @patient.postcode %></dd>
                <dt>City :</dt>
                  <dd><%= @patient.city %></dd>
                <dt>State :</dt>
                  <dd><%= @patient.state %></dd>
              </dl>

              <h3>Notes</h3>
              <dl class="dl-horizontal">
                <dt>Notes :</dt>
                  <dd><%= @patient.notes %></dd>
              </dl>
            </div> <!-- /tab-pane active -->

            <div class="tab-pane" id="diagnosis">
              <% if @patient.appointments.count == 0 %>
                <h3>This patient does not have any appointment</h3>
              <% elsif @patient.appointments.last.state == "open" %>
                <%= simple_form_for(@patient.appointments.last, :html => { :class => 'form-horizontal' }) do |f| %>
                  <div class="form-inputs">
                    <%= f.input :notes, :input_html => { :class => "span6" } %>
                    <%= f.input :state, :collection => [ "open", "pending medication", "closed" ], :include_blank => false, :input_html => { :class => "span2" } %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Update Diagnosis", :class => 'btn btn-primary' %>
                  </div>
                <% end %>
              <% else %>
                <% if @patient.appointments.last.state == "pending medication" %>
                  <h3>Pending Medication</h3>
                  <%= simple_form_for(@patient.appointments.last, :html => { :class => 'form-horizontal' }) do |f| %>
                    <div class="form-inputs">
                      <%= f.input :state, :collection => [ "pending medication", "closed" ], :include_blank => false, :input_html => { :class => "span2" } %>
                    </div>

                    <div class="form-actions">
                      <%= f.button :submit, "Update Diagnosis", :class => 'btn btn-primary' %>
                    </div>
                  <% end %>
                <% else %>
                  <h3>Last Appointment Date: <%= @patient.appointments.last.appointment_date %></h3>
                <% end %>
              <% end %>
            </div> <!-- /tab-pane -->

            <div class="tab-pane" id="appointment_history">
              <div class="widget widget-table action-table">
                <div class="widget-header">
                  <i class="icon-th-list"></i>
                  <h3>Appointment History</h3>
                </div> <!-- /widget-header -->
                  
                <div class="widget-content">
                  <table class="table table-striped table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th>Appointment Date</th>
                        <th>Physician</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @appointment_history.each do |appointment_history| %>
                        <tr>
                          <td><%= link_to appointment_history.appointment_date.to_s(:datetime).humanize, appointment_path(appointment_history) %></td>
                          <td><%= appointment_history.physician.first_name %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div> <!-- /widget-content -->
              </div> <!-- /widget --> 
            </div> <!-- /tab-pane -->
          </div> <!-- /tab-content -->
        </div> <!-- /tabbable --> 
      </div> <!-- /widget-content -->   
    </div> <!-- /widget -->     
  </div> <!-- /span8 -->

  <div class="span4">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-bookmark"></i>
        <h3>Important Informations</h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <h4>Age: <%= Date.today.year - @patient.dob.year %></h4>
        <h4>Blood Type: <%= @patient.blood_type %></h4>
        <% if @patient.appointments.count != 0 %>
          <h4>Last Appointment Date: <%= @patient.appointments.last.appointment_date %></h4>
        <% else %>
          <h4>Last Appointment Date: -</h4>
        <% end %>
        <br>
        <h4>Allergy: <span class="label label-important">Comming soon...</span></h4>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->

    <div class="widget">
      <div class="widget-header">
        <i class="icon-bookmark"></i>
        <h3>Quick Shortcuts</h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <%= link_to "Create Appointment", new_appointment_path(:patient_id => @patient), :class => 'btn btn-primary' %>
        <%= link_to "Edit Patient", edit_patient_path(:patient_id => @patient), :class => 'btn btn-success' %>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span4 -->
</div> <!-- /row -->