<div class="form-signin">
  <h2 class="form-signin-heading">Sign in</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.input :username, :required => false, :autofocus => true, :input_html => { :class => 'input-block-level' }, :placeholder => 'Username', :label => false %>
    <%= f.input :password, :required => false, :input_html => { :class => 'input-block-level' }, :placeholder => 'Password', :label => false %>
    <%= f.input :remember_me, :inline_label => 'Remember me', :label => false, :as => :boolean if devise_mapping.rememberable? %>

    <%= f.button :submit, "Sign in", :class => "btn btn-large btn-block btn-primary" %>

    <br><%= render "devise/shared/links" %>
  <% end %>
</div>

